<!DOCTYPE html>

<html>
<head>
<title>Check Result</title>
<link rel="stylesheet" href="../../view/css/checkResult.css">
</head>

<header>
	<div class="header-image"></div>
</header>
 
<body>
<div id = "acc">
	Your accurancy for this quiz is {ACCURANCY}
</div>

<div id = "true">
	True Words:
	{TRUEWORDS}
</div>

<div id = "wrong">
	Wrong Words:
	{WRONGWORDS}
</div>

<div id = "quit">
	<label><a href="../../index.php"><img src = "../../view/img/index.jpg" width = "90" height = "60" border="0"/></a></label>
</div>


</body>
</html>

<!-- Excute when the page loaded -->

